<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable GZIP compression for faster page loads -->
        <httpCompression>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/xml" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
                <add mimeType="image/jpeg" enabled="true" />
                <add mimeType="image/png" enabled="true" />
            </staticTypes>
        </httpCompression>

        <!-- Security Headers -->
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
                <add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
                <add name="Content-Security-Policy" value="default-src 'self' https://*.sdts.org https://*.google.com https://*.googleapis.com https://*.gstatic.com https://*.bootstrapcdn.com https://*.whatsapp.com; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.sdts.org https://*.google.com https://*.googleapis.com https://*.gstatic.com; style-src 'self' 'unsafe-inline' https://*.sdts.org https://*.googleapis.com https://*.bootstrapcdn.com; img-src 'self' data: https: blob:; font-src 'self' https://*.sdts.org https://*.gstatic.com https://*.googleapis.com; connect-src 'self' https://*.sdts.org; frame-src https://*.google.com https://*.youtube.com https://docs.google.com https://*.whatsapp.com;" />
            </customHeaders>
        </httpProtocol>

        <!-- Cache Control -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <remove fileExtension=".json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>

        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Redirect HTTP to HTTPS -->
                <rule name="HTTP to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- Remove trailing slash -->
                <rule name="Remove trailing slash" stopProcessing="true">
                    <match url="(.*)/$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>

                <!-- Prevent access to specific files -->
                <rule name="Prevent config access" stopProcessing="true">
                    <match url="^(.*)\.([cC][oO][nN][fF][iI][gG]|[iI][nN][iI])$" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access Denied" />
                </rule>
            </rules>
        </rewrite>

        <!-- Custom 404 and 500 error pages -->
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="404" path="/404.html" responseMode="File" />
            <error statusCode="500" path="/500.html" responseMode="File" />
        </httpErrors>

        <!-- Default Document -->
        <defaultDocument>
            <files>
                <remove value="index.php" />
                <remove value="default.aspx" />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration> 